 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                      <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>I've translated, transcreated, copywrote and pencil-pushed for government agency, game studio, software company, and startup hub not out of spite for pencils but for the sheer fun of doing what I'm good at.</p>
                </div>
                <div class="col-lg-4">
                    <p>스타트업허브, 소프트웨어 회사, 게임 스튜디오, 문화예술 공기관에서 글로벌 컨퍼런스, 소프트웨어 및 게임 글로벌 런칭, 로컬라이제이션, 해외 사업 경력의 bilingual 말재주꾼으로 조사, 기획, 커뮤니케이션에 excel 합니다.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://user.fm/files/v2-eb310cb46d23f8cc5f51802c554ba47a/Ajin_CV_Portfolio_Kor_En.zip" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download CV
                    </a>
                </div>
            </div>
        </div>
    </section>
