 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                      <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>I've translated, transcreated, copywrote and pencil-pushed for arts&culture institution, government agency, game studio, software company not out of spite for pencils but for the love of language </p>
                </div>
                <div class="col-lg-4">
                    <p>and the sheer fun of doing what I'm good at. I'm based in Seoul, Korea but versed in the world of English language and culture enough to say a thousand monkeys have nothing on me.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://user.fm/files/v2-aea6a93ae582abcaaff3f7f04fe17361/CV.zip" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download CV
                    </a>
                </div>
            </div>
        </div>
    </section>
